html {
  background-color: blanchedalmond;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  font-size: 16px;
}

button {
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 16px;
  margin-block-start: 4px;
  width: 248px;
  height: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-title {
  text-transform: uppercase;
  word-spacing: 4px;
}

.input-label {
  font-weight: bold;
}

.submit-button {
  background-color: black;
  color: white;
  height: 44px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid black;
  text-transform: uppercase;
}

#grid {
  width: min-content;
  background-color: white;
  margin: 24px;
  padding: 4px;
}

.row {
  width: min-content;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 4px;
}

.cell {
  width: 72px;
  height: 72px;
  background-color: cornflowerblue;
  margin: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#error-message {
  color: red;
  font-size: 12px;
  margin-top: 12px;
  line-height: 0.4;
}
